h1 {
  font-family: "Playfair Display", serif;
}
.hero {
  background: #f9f7fe;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 70px;
}

.hero p {
  font-weight: bold;
}

.contact {
  background-color: #2946ec;
  color: white;
  padding: 15px;
  border-radius: 5px;
  border: none;
}
