:root {
  --heading-font-family: "Playfair Display", serif;
}
body {
  background: #f9f7fe;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 36px;
}
h1,
h2 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
.hero {
  margin-top: 90px;
  text-align: center;
}

.hero p {
  font-weight: bold;
  font-size: 36px;
}

.contact {
  background-color: #2946ec;
  color: white;
  padding: 15px;
  border-radius: 5px;
  border: none;
}

.contact:hover {
  font-weight: bold;
}
